@import "tailwindcss";

@theme {
  --color-just-white: #F8FAFD;
  --color-just-black: #18161A;
  --color-just-brightblue: #3435F3;
  --color-just-darkpurple: #300A44;
  --color-just-orange: #FF7038;
  --color-adsvate-blue: #2D35FF;
  --color-adsvate-darkblue: #0209B2;
  --color-adsvate-yellow: #FFD62D;
  --color-online: #25D366;
  --radius-btn: 40px;
  --font-montserrat: var(--font-montserrat), sans-serif; 
  --font-poppins: var(--font-poppins), sans-serif; 
}
/* Double save zone */
                
             
/* Double save zone */ 
@layer base {
  h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-montserrat), sans-serif;
  } 

  body {
    @apply bg-[var(--color-just-white)] text-[var(--color-just-black)] overflow-x-hidden; 
  }
  
  main {
    @apply flex flex-col mx-4;
  }
  
  /* first disana tetang adaptasi sama height navbar, jadi kita settingnya manual */
  section {
    @apply w-full max-w-5xl mx-auto mt-[100px] lg:mt-[150px] first:mt-21 first:md:mt-0;
  }
  
  .btn {
    @apply cursor-pointer px-5 py-4 w-fit shadow-[0_4px_4px_0_rgba(0,0,0,25%)] flex flex-row gap-2 items-center rounded-[var(--radius-btn)];
  }
}